@font-face {
    font-family: "Vox Round Medium";
    src: url('https://www.penergetic.com/typo3conf/ext/pixelschubser/Resources/Public/Fonts/vox-round-medium.woff2');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2');
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Vox Round Medium", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

header {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: "Source Sans Pro";
    line-height: 1.65em;
}

.container {
    padding: 0 10px;
}

.section-title {
    margin: 30px 0px 10px 0px;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header h1,
h5 {
    margin: 0;
}

header h5 {
    font-size: 14px;
}

header>div {
    padding-top: 20px;
    background-color: rgba(200, 200, 200, 0.3);
}

nav {
    margin-top: 30px;
    position: relative;
}

.nav-bg {
    background-color: rgba(50, 50, 50, 0.6);
    filter: blur(60%);
    position: absolute;
    height: 100%;
    width: 100%;
}

nav ul {
    padding: 15px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

nav ul li {
    z-index: 1;
}

.nav-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}


/* -------------------------------------------------------------------------- */
/*                                  about us                                  */
/* -------------------------------------------------------------------------- */

#o-nas {
    padding-top: 8px;
}


/* -------------------------------------------------------------------------- */
/*                                  products                                  */
/* -------------------------------------------------------------------------- */

.product-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-container img {
    object-fit: cover;
    width: 80vw;
}

.product-title {
    padding: 5px 10px;
}

.product-title:hover {
    background-color: #4a4a4a;
    color: white;
}