@font-face {
    font-family: "Vox Round Medium";
    src: url('https://www.penergetic.com/typo3conf/ext/pixelschubser/Resources/Public/Fonts/vox-round-medium.woff2');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2');
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Vox Round Medium", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

p {
    font-family: "Source Sans Pro";
    line-height: 1.65em;
}

.container {
    padding: 0 10px;
}

.section-title {
    margin: 30px 0px 10px 0px;
}

a {
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

header::before {
    content: '';
    height: 10px;
    background-color: #000;
    width: 100vw;
    display: block;
}

header h1,
h5 {
    margin: 0;
}

header h5 {
    font-size: 14px;
}

header>div {
    padding-top: 30px;
    background-color: rgba(200, 200, 200, 0.5);
}

nav {
    margin-top: 30px;
    position: relative;
}

.nav-bg {
    background-color: rgba(50, 50, 50, 0.6);
    filter: blur(60%);
    position: absolute;
    height: 100%;
    width: 100%;
}

nav ul {
    padding: 15px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

nav ul li {
    z-index: 1;
}

.nav-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}


/* -------------------------------------------------------------------------- */
/*                                  about us                                  */
/* -------------------------------------------------------------------------- */

#o-nas {
    padding-top: 8px;
}


/* -------------------------------------------------------------------------- */
/*                                  products                                  */
/* -------------------------------------------------------------------------- */

.product-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-container img {
    object-fit: cover;
    width: 80vw;
}

.product-title {
    padding: 5px 10px;
}

.product-title:hover {
    background-color: #4a4a4a;
    color: white;
}



/* -------------------------------------------------------------------------- */
/*                                   contact                                  */
/* -------------------------------------------------------------------------- */

.contact-container img {
    max-height: 300px;
    width: 100vw;
    object-fit: cover;
    margin: 0 -10px;
}

.contact-item a {
    display: flex;
    align-items: center;
}

.contact-item i {
    margin-right: 10px;
    font-size: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

:root {
    --footer-height: 40px;
}

footer {
    height: var(--footer-height);
    background-color: #4a4a4a;
    text-align: center;
}

footer small {
    color: white;
    opacity: 0.25;
    line-height: var(--footer-height);
}